#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  background-color: white;
}

.logo {
  height: 5em;
  padding: 0.1rem 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.text-iron {
  color: #0a035a;
}

.placeCard {
  display: flex;
  border: 2px solid #040304;
  color: #040304;
  font-style: inherit;
  padding: 10px;
}

.place-image {
  width: 450px;
}

.place-label {
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: space-around;
}
.place-label p {
  background-color: #5b86ea;
  margin: 5px;
  border-radius: 5px;
  width: 125px;
  height: 26px;
}
